<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <link rel="manifest" href="/icons/site.webmanifest">
  <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">


  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <title>Claveria Bus Online Reservation</title>
  <style>
    .submit-btn {
      width: 150px;
      padding: 10px;
      background-color: #388da8;
      color: white;
      border: none;
      cursor: pointer;
      font-size: 1.2rem;
      border-radius: .75rem;
    }

    .submit-btn:hover {
      background-color: #3f9fbd;
    }
  </style>
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="/" class="logo d-flex align-items-center me-auto">
        <img src="/images/logo.png" alt="">
        <h1 class="sitename">Claveria Tours</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#" class="">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact Us</a></li>

       <%if (['guess', 'inspector', 'conductor', 'admin'].includes(user.role)) {%>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="/login">Login</a>
      <%} else {%>




        <li><a href="/account">My Account</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" href="/logout">Logout</a>
        <%}%>


    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">
      <div class="hero-bg">
        <img src="/images/hero.png" alt="">
      </div>
      <div class="container text-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h1 data-aos="fade-up" class="">Welcome to <span>Claveria Bus Transport</span></h1>
          <p data-aos="fade-up" data-aos-delay="100" class="">Operated by Claveria Tours<br></p>

        </div>
      </div>

    </section><!-- /Hero Section -->
    <section id="features" class="features section">


      <div class="container section-title aos-init aos-animate" data-aos="fade-up">

        <div class="p-4 rounded-4 shadow-sm">
          <div class="card-body border-0">
            <h2 class="">Featured Routes</h2>
            <p class="mb-4">Book tickets to your next destination and get fast confirmation.</p>
            <form action="/booking" method="get">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelect1" aria-label="Floating label select example"
                      name="destination" required>
                      <option selected disabled value="">Travel Location</option>
                      <option value="1">Claveria to Laoag</option>
                      <option value="2">Laoag to Claveria</option>
                    </select>
                    <label for="floatingSelect1">Routes</label>
                  </div>

                </div>
                <div class="col-lg-4">
                  <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="floatingInput2"
                      min="<%= new Date().toISOString().split('T')[0] %>" placeholder="" required name="departure">
                    <label for="floatingInput">Travel Date</label>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="floatingInput3" value="1" required
                      name="passengerCount">
                    <label for="floatingInput">Passengers</label>
                  </div>
                </div>

              </div>
              <div class="text-center">
                <button type="submit" class="submit-btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path
                      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                  </svg> SEARCH</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 content aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <p class="who-we-are">Who We Are</p>
            <h3>Claveria Bus Transport Inc.</h3>
            <p class="fst-italic">
              Operated by Claveria Tours
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Fast and Efficent</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Affordable</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Comfortability</span></li>
            </ul>

          </div>

          <div class="col-lg-6 about-images aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">
              <div class="col-lg-6">
                <img src="/images/about-company-1.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6">
                <img src="/images/about-company-2.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6">
                <img src="/images/about-company-3.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6">
                <img src="/images/about-company-4.jpg" class="img-fluid" alt="">
              </div>
            </div>

          </div>

        </div>

      </div>
    </section>
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title aos-init aos-animate" data-aos="fade-up">
        <h2>Destinations</h2>
        <p>Discover the beauty and diversity of unique places.</p>

      </div><!-- End Section Title -->

      <div class="container">

        <div class="row g-3">
          <div class="col-6">
            <div class="card h-100">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="/images/laoag.png" class="img-fluid rounded-start" alt="..." style="height: 100%;
                  object-fit: cover;
                  object-position: center;">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Laoag City</h5>
                    <p class="card-text">
                      Laoag City is a vibrant center in the North. It offers truly
                      unique experiences like scenic beaches, panoramic sand dunes,
                      and great heritage sites.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card h-100">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="/images/claveria.jpg" class="img-fluid rounded-start" alt="..." style="height: 100%;
                  object-fit: cover;
                  object-position: center;">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Claveria</h5>
                    <p class="card-text">Claveria is a municipality in Cagayan in the province of Cagayan offering a
                      serene ambiance and a mesmerizing panorama that will take your breath away. </p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title aos-init aos-animate" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Reach out to us for inquiries or support, and we'll ensure your questions are answered promptly.</p>
      </div><!-- End Section Title -->


      <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center aos-init aos-animate"
              data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <p>PUROK SIAM-SIAM, BRGY. KILKILING, CLAVERIA, CAGAYAN VALLEY</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3 col-md-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center aos-init aos-animate"
              data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone"></i>
              <h3>Call Us</h3>
              <p>+63 9097852574</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3 col-md-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center aos-init aos-animate"
              data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope"></i>
              <h3>Email Us</h3>
              <p>claveriabustransportinc@yahoo.com</p>
            </div>
          </div><!-- End Info Item -->

        </div>

        <div class="row gy-4 mt-1">
          <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3790.170925246887!2d120.5959676!3d18.2020675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x338ec89f7194d749%3A0x3eb54c75dcbb2f5b!2sLagasca%20St%2C%20Laoag%20City%2C%20Ilocos%20Norte!5e0!3m2!1sen!2sph!4v1715016401149!5m2!1sen!2sph"
              frameborder="0" style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>


          </div><!-- End Google Maps -->

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" class="php-email-form aos-init aos-animate"
              data-aos="fade-up" data-aos-delay="400">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section>
    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/aos/aos.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>
  </main>
</body>

</html>