<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Seat Selection</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        /* Existing styles */
        .seat {
            position: relative;
            width: 60px;
            height: 60px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
        }

        .seat img {
            width: 100%;
            height: auto;
            vertical-align: middle;
        }

        .seat span {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            font-size: 12px;
            color: black;
            pointer-events: none;
        }

        /* New styles for hover and selected states */
        .seat.available:hover {
            background-color: #3f9fbd;
            /* Light green background for hover on available seats */
            cursor: pointer;
            border-radius: 5px;
        }

        .seat.selected {
            background-color: #3f9fbd;
            border-radius: 5px;
            /* Blue background for selected seats */
        }

        .seat.unavailable,
        .seat.booked {
            background-color: #e74c3c;
            /* Red background for unavailable and booked seats */
            cursor: not-allowed;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="container mt-3">
        <h2>Select Your Seats</h2>
        <div class="bus-body table-responsive border border-2 rounded-pill-top rounded-bottom p-4 shadow">
            <div class=" bus-body table-responsive border border-2 rounded-pill-top rounded-bottom p-4 shadow">
                <table class="table table-sm table-borderless">
                    <tbody>
                        <tr>
                            <td>
                                <div data-id="1 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>1</span>
                                </div>
                            </td>
                            <td>
                                <div data-id="2 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>2</span>
                                </div>
                            </td>
                            <td>
                                <div class="">
                                    <img alt="" src="/svg/blank.svg">
                                </div>
                            </td>
                            <td>
                                <div data-id="3 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>3</span>
                                </div>
                            </td>
                            <td>
                                <div data-id="4 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>4</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div data-id="5 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>5</span>
                                </div>
                            </td>
                            <td>
                                <div data-id="6 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>6</span>
                                </div>
                            </td>
                            <td>
                                <div class="">
                                    <img alt="" src="/svg/blank.svg">
                                </div>
                            </td>
                            <td>
                                <div data-id="7 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>7</span>
                                </div>
                            </td>
                            <td>
                                <div data-id="8 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>8</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div data-id="9 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>9</span>
                                </div>
                            </td>
                            <td>
                                <div data-id="10 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>10</span>
                                </div>
                            </td>
                            <td>
                                <div class="">
                                    <img alt="" src="/svg/blank.svg">
                                </div>
                            </td>
                            <td>
                                <div data-id="11 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>11</span>
                                </div>
                            </td>
                            <td>
                                <div data-id="12 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>12</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div data-id="13" data-type="1" class="seat unavailable booked">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>13</span>
                                </div>
                            </td>
                            <td>
                                <div data-id="14 data-type=" 1" class="seat unavailable booked">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>14</span>
                                </div>
                            </td>
                            <td>
                                <div class="">
                                    <img alt="" src="/svg/blank.svg">
                                </div>
                            </td>
                            <td>
                                <div data-id="15" data-type="1" class="seat unavailable booked">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>15</span>
                                </div>
                            </td>
                            <td>
                                <div data-id="16" data-type="1" class="seat unavailable booked">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>16</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div data-id="17 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>17</span>
                                </div>
                            </td>
                            <td>
                                <div data-id="18 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>18</span>
                                </div>
                            </td>
                            <td>
                                <div class="">
                                    <img alt="" src="/svg/blank.svg">
                                </div>
                            </td>
                            <td>
                                <div data-id="19 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>19</span>
                                </div>
                            </td>
                            <td>
                                <div data-id="20 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>20</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div data-id="21 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>21</span>
                                </div>
                            </td>
                            <td>
                                <div data-id="22 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>22</span>
                                </div>
                            </td>
                            <td>
                                <div class="">
                                    <img alt="" src="/svg/blank.svg">
                                </div>
                            </td>
                            <td>
                                <div data-id="23 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>23</span>
                                </div>
                            </td>
                            <td>
                                <div data-id="24 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>24</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div data-id="25 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>25</span>
                                </div>
                            </td>
                            <td>
                                <div data-id="26 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>26</span>
                                </div>
                            </td>
                            <td>
                                <div class="">
                                    <img alt="" src="/svg/blank.svg">
                                </div>
                            </td>
                            <td>
                                <div data-id="27 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>27</span>
                                </div>
                            </td>
                            <td>
                                <div data-id="28 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>28</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div data-id="29 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>29</span>
                                </div>
                            </td>
                            <td>
                                <div data-id="30 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>30</span>
                                </div>
                            </td>
                            <td>
                                <div class="">
                                    <img alt="" src="/svg/blank.svg">
                                </div>
                            </td>
                            <td>
                                <div data-id="31 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>31</span>
                                </div>
                            </td>
                            <td>
                                <div data-id="32 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>32</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div data-id="33 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>33</span>
                                </div>
                            </td>
                            <td>
                                <div data-id="34 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>34</span>
                                </div>
                            </td>
                            <td>
                                <div class="">
                                    <img alt="" src="/svg/blank.svg">
                                </div>
                            </td>
                            <td>
                                <div data-id="35 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>35</span>
                                </div>
                            </td>
                            <td>
                                <div data-id="36 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>36</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div data-id="37 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>37</span>
                                </div>
                            </td>
                            <td>
                                <div data-id="38 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>38</span>
                                </div>
                            </td>
                            <td>
                                <div class="">
                                    <img alt="" src="/svg/blank.svg">
                                </div>
                            </td>
                            <td>
                                <div data-id="39 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>39</span>
                                </div>
                            </td>
                            <td>
                                <div data-id="40 " data-type="1" class="seat available">
                                    <img alt="" src="/svg/chair.svg">
                                    <span>40</span>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <button id="submitBtn" class="btn btn-primary mt-3">Submit Selection</button>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const maxSeats = 3;  // Maximum seats a user can select, adjust as needed
            const seats = document.querySelectorAll('.seat.available');

            seats.forEach(function (seat) {
                seat.addEventListener('click', function () {
                    // Count how many seats are currently selected
                    const selectedSeats = document.querySelectorAll('.seat.selected').length;

                    // Check if the seat is already selected
                    if (this.classList.contains('selected')) {
                        this.classList.remove('selected');
                    } else if (selectedSeats < maxSeats) {
                        // Only add 'selected' if we haven't reached the max limit
                        this.classList.add('selected');
                    } else {
                        alert(`You can only select up to ${maxSeats} seats.`);
                    }
                });
            });

            document.getElementById('submitBtn').addEventListener('click', function () {
                const selectedSeats = document.querySelectorAll('.seat.selected');
                const selectedSeatIds = Array.from(selectedSeats).map(seat => seat.getAttribute('data-id').trim());
                alert('Selected Seats: ' + selectedSeatIds.join(', '));
                // Implement additional logic as needed, e.g., AJAX call
            });
        });


    </script>
</body>

</html>